

.content {
    text-align: left;
    margin: 180px 50px 10px;
}

h1, h3 {
    font-size: 60px;
    margin: 5px 0;
}

h3 {
    font-size: 25px;
    margin-bottom: 25px;
}

.section {
    margin-bottom: 2rem;
}

.btn-box a img{
    padding: 0;
    border: 3px;
    width: 50px;
    height: 50px;
    align-items: center;
    border-radius: 50%;
}

.btn-box{
    width: 400px;
    height: 50px;
    margin: 0;
    justify-content: space-around;
    display:inline;
} 

.btn-box .button {
    display: inline-block;
    height: 50px;
    width: 50px;
    text-decoration: none;
    /* border: 3px solid black; */
    margin: 0 5px;
    overflow: hidden;
    background: lightgrey;
    border-radius: 50px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
  }

.btn-box .button:hover {
    width: 190px;
}

.btn-box .button span {
    /* border-color: black; */
    color: black;
    font-family: Courier, monospace;
    font-size: 25px;
    font-weight: bold;
    text-wrap: nowrap;
}

.btn-box span:hover {
    margin-bottom: 30px;
    height: 50px;
}





