.background{
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    font-size: 6.8rem;
    opacity: 0.3;
    color: gray;
    white-space: nowrap; /* Ensure no line breaks */
}

ul {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    white-space: nowrap; /* Ensure no line breaks */
}

.right{
    animation: moveTextRight 20s linear infinite;
}

@keyframes moveTextRight {
    0% { 
        transform: translateX(0); 
    }
    100% { 
        transform: translateX(-100%); 
    }
}

.left{
    animation: moveTextLeft 20s linear infinite;
}

@keyframes moveTextLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

.background li[id="1"]{color: red;}
.background li[id="2"]{color: orange;}
.background li[id="3"]{color: yellow;}
.background li[id="4"]{color: green;}
.background li[id="5"]{color: blue;}
.background li[id="6"]{color: purple;}
