
a[id='home']:hover {color: rgb(33, 190, 33);}
a[id='about']:hover {color: red;}
a[id='projects']:hover {color: orange;}
a[id='contact']:hover {color: rgb(35, 35, 255);}

.timeline {
    position: relative;
    max-width: 90%;
    margin: 40px auto;
    /* background-color: yellow; */
}

.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    background: black;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
}

.checkpoint {
    position: relative;
    width: 42.5%;
    padding: 10px 50px;
    border-radius: 15px;
    /* background-color: aqua; */
}

.checkpoint img {
    position: absolute;
    background-color: white;
    border-color: black;
    border: 2px;
    width: 50px;
    border-radius: 50%;
    right: -25px;
    top: 32px;
    z-index: 10;
}
.right img {left: -25px;}

.text {
    /* background-color: red; */
    /* width: 90%; */
}

.left {
    left: 0;
}

.right {
    left: 50%;
}