
a[id='home']:hover {color: rgb(33, 190, 33);}
a[id='about']:hover {color: red;}
a[id='projects']:hover {color: orange;}
a[id='contact']:hover {color: rgb(35, 35, 255);}


/* body{background-color: darkgray;} */

.timeline {
    position: relative;
    max-width: 90%;
    margin: 40px auto;
    /* background-color: yellow; */
}

.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    background: black;
    top: 0;
    left: 10%;
    margin-left: -3px;
    z-index: -1;
}

.checkpoint {
    position: relative;
    width: 70%;
    padding: 10px 50px;
    margin-bottom: 25px;
    border-radius: 15px;
    left: 11%;
    /* border-color: aqua; */
}

.logo {
    border-width: 54px;
}

.checkpoint img {
    position: absolute;
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid black;
    left: -45px;
    top: 50px;
    z-index: 10;
}
